<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://test.tsdcollege.in</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>test.tsdcollege.in</MSDeployServiceURL>
    <DeployIisAppPath>test.tsdcollege.in</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>tsdcollege</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ICAS_PRDN" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=184.168.194.75;database=tsdcollege_icas;uid=tsdc;pwd=tsdc@1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ICAS_PRDN_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=184.168.194.75;database=tsdcollege_icas;uid=tsdc;pwd=tsdc@1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ICAS_TEST" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=172.25.3.41;database=testicas;uid=icas;pwd=icas@1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ICAS_TEST_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=172.25.3.41;database=testicas;uid=icas;pwd=icas@1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MyDB" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="..." includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="..." MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ICAS_DEV2" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=GB-SYS-DEV-001\SQLEXPRESS2014;database=tsdcollege_icas;uid=sa;pwd=gb@1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ICAS_DEV2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=GB-SYS-DEV-001\SQLEXPRESS2014;database=tsdcollege_icas;uid=sa;pwd=gb@1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ICAS_DEV" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=MUKUL\SQLEXPRESS2014;database=tsdcollege_icas;uid=sa;pwd=maa@1234" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ICAS_DEV_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=MUKUL\SQLEXPRESS2014;database=tsdcollege_icas;uid=sa;pwd=maa@1234" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ICAS_PRDN-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ICAS_TEST-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyDB-Web.config Connection String" />
  </ItemGroup>
</Project>