<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>tsdcollege.in</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tsdcollege.in</MSDeployServiceURL>
    <DeployIisAppPath>tsdcollege.in</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>tsdcollege</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ICAS_PRDN" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="c2VydmVyPTE4NC4xNjguMTk0Ljc1O2RhdGFiYXNlPXRzZGNvbGxlZ2VfaWNhczt1aWQ9dHNkYztwd2Q9dHNkY0AxMjM0" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ICAS_PRDN_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="c2VydmVyPTE4NC4xNjguMTk0Ljc1O2RhdGFiYXNlPXRzZGNvbGxlZ2VfaWNhczt1aWQ9dHNkYztwd2Q9dHNkY0AxMjM0" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ICAS_DEV2" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="U2VydmVyPUdCLVNZUy1ERVYtMDAxXFNRTEVYUFJFU1MyMDE0O2RhdGFiYXNlPXRzZGNvbGxlZ2VfaWNhczt1aWQ9c2E7cHdkPWdiQDEyMzQ=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ICAS_DEV2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="U2VydmVyPUdCLVNZUy1ERVYtMDAxXFNRTEVYUFJFU1MyMDE0O2RhdGFiYXNlPXRzZGNvbGxlZ2VfaWNhczt1aWQ9c2E7cHdkPWdiQDEyMzQ=" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ICAS_DEV1" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="U2VydmVyPU1VS1VMXFNRTEVYUFJFU1MyMDE0O2RhdGFiYXNlPXRzZGNvbGxlZ2VfaWNhczt1aWQ9c2E7cHdkPW1hYUAxMjM0" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ICAS_DEV1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="U2VydmVyPU1VS1VMXFNRTEVYUFJFU1MyMDE0O2RhdGFiYXNlPXRzZGNvbGxlZ2VfaWNhczt1aWQ9c2E7cHdkPW1hYUAxMjM0" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ICAS_DEV1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ICAS_DEV2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ICAS_PRDN-Web.config Connection String" />
  </ItemGroup>
</Project>